body{
    background-image: url("../img/bg-lineas-topograficas.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #1C2C54;
}

.container{
    margin: 30vh 10vw 5vh 10vw;
    width: 80vw;
    padding: 5vw;
    background-color: #00000080;
    box-sizing: border-box;
}